modules = ["nodejs-20", "nix"]
hidden = [".config", "package-lock.json", "tsconfig.json"]
run = "npm run dev"
entrypoint = "server.ts"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["npm", "run start"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80
exposeLocalhost = true
